body{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: rgba(136, 193, 240, 0.325);
    display: flex;
    justify-content: center;

}


.maincontainer{
    width: 50%;
}
.dis_none {
    display: none;
}

.dis_block
{
    display: block;
}

.ad:after{
    content: "+";

}
p{
    color: rgba(66, 46, 46, 0.681) 
}
button{
    transform: rotateX('angle');
    transition: .3s;
    border: 2px solid rgba(210, 105, 30, 0.633);
}
h2,h3{
    text-align: center;
}
h2{
    color: rgba(91, 56, 41, 0.648)
}
.container {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.922);
    color: rgba(210, 105, 30, 0.633);
    padding: 11px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 1px rgba(91, 115, 213, 0.719);
    border-radius: 5px;
}
h3{
    display: flex;
   justify-content: space-between;
   padding: 10px;
}